<div style="display: none"> <!-- this should only appear inside the dialog -->
  <div{{ attributes }}>
    {{ message }} <!-- this could be replaced with a hard coded message and use any HTML. -->
  </div>
</div>
