{#
/**
 * @file
 * Default template for the JotForms embedded formatter.
 *
 * Available variables:
 *   - jot_id: id provided by the jot form embed code.
 *
 * @ingroup themeable
 */
#}

<!--Embed Code for the Contact Form -->
<div{{attributes}}>
  <script type="text/javascript" src="https://form.jotform.com/jsform/{{- jot_id -}}"></script>
</div>
