/* moving right column in admin below left column content area */
.layout-region-node-main {
  float: none;
  width: auto;
  padding: 0;
}

.layout-region-node-secondary,
.layout-region-node-footer {
  float: none;
  width: auto;
}

[dir="rtl"] .layout-region-node-main,
[dir="rtl"] .layout-region-node-footer {
  float: none;
  width: auto;
}

/* Fix input field spacing on form items in paragraphs. */
.form-item {
  margin: 0 0 0.75em !important;
}

.text-format-wrapper .form-type-textarea {
  margin-bottom: 0 !important;
}

/* Exceptions */
.field--type-text-with-summary > div .form-item {
  margin-bottom: 0px !important;
}

.image-preview {
  background-color: rgba(0,0,0,0.25);
  padding: 0 !important;
  margin: 0 10px 10px 0;
}
